@font-face {
    font-family: Conthrax;
    src: url('fonts/conthrax-sb.ttf');
}

@font-face {
    font-family: Vipnagorgialla;
    src: url('fonts/vipnagorgialla rg.otf');
}

body{
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    font-family: Conthrax;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */

    height: 100%;
    background-image: url("files/EedklxAU4AIXEd-.jpeg");
    background-size: cover;
}

/* width */
::-webkit-scrollbar {
    position: absolute;
    z-index: 1000;
    width: 10px;
}


::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
}
   
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(80, 80, 80), rgb(60, 60, 60));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(100, 100, 100), rgb(80, 80, 80));
}






#taskbar{
    position: sticky;
    width: 100%;
    height: auto;
    /* border-bottom: 5px solid rgba(0, 0, 0, 0.325); */
    z-index: 40;
    background-image: linear-gradient( #b3bdd3, #dae1ea, #bfc8da);
    border-bottom: 2px solid #00218d;
}


#taskbar #right-taskbar-shadow{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #767676;
    display: flex;
    z-index: 0;
    padding-left: 11px;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    color: rgba(0, 0, 0, 0);
}

#taskbar #right-taskbar-shadow div{
    margin: 5px 10px 5px 10px;
}

#main-taskbar{
    position: sticky;
    width: 100%;
    height: auto;
    /* border-bottom: 5px solid rgba(0, 0, 0, 0.325); */
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 40;

    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

#main-taskbar #left-taskbar{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#main-taskbar #left-taskbar div{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    cursor: pointer;
    
    clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
    z-index: 10;
    background-color: green;
    padding-right: 10px;
}

#main-taskbar #left-taskbar img{
    height: 10px;
    width: 24px;
    margin: 5px 10px 5px 10px;
}

#main-taskbar #left-taskbar #logo{
    background-image: linear-gradient(#fff, #95b7c9);
}

#main-taskbar #left-taskbar #logo-shadow{
    background-color: #767676;
    position: absolute;
    padding-right: 11px;
    z-index: 0;
}

#main-taskbar #right-taskbar{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(#fff, #95b7c9);
    padding-left: 10px;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    
}

/* #main-taskbar #right-taskbar #date, #main-taskbar #right-taskbar #time{
    transform: skewX(20deg);
} */

#main-taskbar #right-taskbar div{
    margin: 5px 10px 5px 10px;
}

#icons-container{
    width: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 10px;
}

.icon{
    margin: 10px;
    width: 76px;
    height: 80px;
    /* background-color: #9F9F9F; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    /* word-break: break-word; */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    
}


.icon img{
    width: 40px;
    height: 40px;
}


.icon span{
    font-family: 'Bahnschrift', sans-serif;
    margin-top: 5px;
    font-size: 18px;
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.icon:hover{
    background-color: #e2e2e2;
    background-color: rgba(0, 0, 0, 0.325);
    border: solid 2px #d3d3d3;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: white;
}

.tab{
    width: 654px;
    height: 495px;
    background-image: linear-gradient(#eeedee, #9ca0b8);
    border: 3px solid  rgba(120, 120, 120);
    border: 3px solid  rgba(0, 0, 0, 0.325);
    border-radius: 7px;
    align-items: center;

    position: absolute;
    /* top: 15%;
    left: 20%; */
    z-index: 55;
    /* display: none; */
    display: flex;
    flex-direction: column;

    display: none;

    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.2);

}

.tab-taskbar{
    width: calc(100% + 1.1px);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -0.5px;
    left: -0.5px;
    color: black;
    font-size: 13px;
    white-space: nowrap;
    border-bottom: solid 2px rgb(0, 0, 0);
    font-family: Vipnagorgialla;
    font-weight: 600;
}

.tab-taskbar div{
    margin: 3px 10px 3px 10px;
}

.tab-bar{
    height: 7px;
    width: 100%;
    background-image: linear-gradient(#E5E5E5, #9F9F9F);
    border-radius: 5000px;
}

.tab-button{
    height: 10px;
    width: 20px;
    background-color: #9F9F9F;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
    outline: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-button span{
    position: relative;
    top: -0.5px;
}

.tab-button:hover{
    background-color: red;
}

/* .tab-title{
    
} */

.tab-active{
    display: flex;
}


.tab-content{
    height: 430px;
    margin: 10px 10px 0 10px;
}

.tab-content .text-content{
    background-color: white;
    border-radius: 5px;
    display: block;
    overflow: auto;
    height: 97.5%;
    width: 624px;
    overflow-y: auto;
    outline: solid 3px black;
    padding: 5px;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 18px;                                           
}

.tab-content-shadow{
    position: absolute;
    background-color: black;
    height: 460.6px;
    min-width: 490px;
    max-width: 100%;
    z-index: -1;
    border-radius: 5px;
    margin: 2px;
}

.tab-footer{
    width: 100%;
    height: auto;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; */
    
    margin-top: 6px;
    display: grid;
    grid-template-columns: 1fr 4fr;

    border-top: solid 2px rgb(0, 0, 0);
    padding-top: 2px;
}

.tab-footer .directory{
    grid-column-start: 2;
    margin-right: 10px;
    background-image: linear-gradient(#4a4947, #000);
    color: white;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: 12px;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}