/* code written by rayan mansur
reach me at www.rayanmansur.com  */

@font-face {
    font-family: Conthrax;
    src: url('fonts/conthrax-sb.ttf');
}

@font-face {
    font-family: Vipnagorgialla;
    src: url('fonts/vipnagorgialla rg.otf');
}

h1, h2, p{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1{
    font-size: 1rem;
}

h2{
    font-size: 0.938rem;
}

p{
    font-size: 0.875rem;
    font-family: Conthrax;
}

button{
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 0.438rem;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 0.188rem;
    border: solid 0.125rem black;
    font-family: Conthrax;
}

body{
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    font-family: Conthrax;

    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 

    height: 100%;
    background-image: url("files/EedklxAU4AIXEd-.jpeg");
    background-size: cover;
}

::-webkit-scrollbar {
    position: absolute;
    z-index: 1000;
    width: 0.625rem;
}


::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
}
   
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(80, 80, 80), rgb(60, 60, 60));
    border-radius: 0.625rem;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(100, 100, 100), rgb(80, 80, 80));
}


    


#taskbar{
    position: sticky;
    width: 100%;
    height: auto;
    z-index: 40;
    background-image: linear-gradient( #b3bdd3, #dae1ea, #bfc8da);
    border-bottom: 0.125rem solid #00218d;
}


#taskbar #right-taskbar-shadow{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #767676;
    display: flex;
    z-index: 0;
    padding-left: 0.688rem;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    color: rgba(0, 0, 0, 0);
}

#taskbar #right-taskbar-shadow div{
    margin: 0.313rem 0.625rem 0.313rem 0.625rem;
}

#main-taskbar{
    position: sticky;
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 40;
    box-shadow: 0 0 0.313rem 0.313rem rgba(0, 0, 0, 0.2);
}

#credits:hover{
    color: #767676;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,0.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s linear infinite;
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

#main-taskbar #left-taskbar{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    z-index: 10;
    background-image: linear-gradient(#fff, #95b7c9);
    padding-right: 0.75rem;
}


#taskbar #left-taskbar-shadow{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #767676;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    z-index: 0;
    padding-right: 0.813rem;
    clip-path: polygon(0% 0%, 90% 0%, 100% 100%, 0% 100%);
    color: rgba(0, 0, 0, 0);
}

#taskbar #left-taskbar-shadow div{
    color: black;
}

#main-taskbar #left-taskbar div, #taskbar #left-taskbar-shadow div{
    height: 100%;
    margin: 0.313rem 0.625rem 0.313rem 0.625rem;
}

#main-taskbar #left-taskbar div{
    cursor: pointer;
}


#main-taskbar #left-taskbar div img, #taskbar #left-taskbar-shadow div img{
    height: 0.625rem;
    width: 1.5rem;
}

#main-taskbar #right-taskbar{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(#fff, #95b7c9);
    padding-left: 0.625rem;
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 0% 100%);
    
}

#main-taskbar #right-taskbar div{
    margin: 0.313rem 0.625rem 0.313rem 0.625rem;
}

#icons-container{
    width: 18.75rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.313rem;
    margin-left: 0.625rem;
}

.icon{
    margin: 0.625rem;
    width: 6.25rem;
    height: 5.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: black;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.icon img{
    width: 3.125rem;
    height: 3.125rem;
}


.icon span{
    font-family: 'Bahnschrift', sans-serif;
    margin-top: 0.313rem;
    font-size: 1.125rem;
    display: inline-block;
    word-wrap: break-word;
    text-align: center;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.icon:hover{
    background-color: #e2e2e2;
    background-color: rgba(0, 0, 0, 0.325);
    outline: solid 0.188rem #d3d3d3;
    color: white;
}

.tab{
    width: 40.875rem;
    height: 31.25rem;
    background-image: linear-gradient(#eeedee, #9ca0b8);
    border: 0.188rem solid  rgba(120, 120, 120);
    border: 0.188rem solid  rgba(0, 0, 0, 0.325);
    border-radius: 0.438rem;
    align-items: center;
    position: absolute;
    z-index: 55;
    display: flex;
    flex-direction: column;
    display: none;
    box-shadow: 0 0 0.188rem 0.188rem rgba(0, 0, 0, 0.2);
}

.tab-taskbar{
    width: calc(100% + 0.06875em);
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -0.03125rem;
    left: -0.03125rem;
    color: black;
    font-size: 0.813rem;
    white-space: nowrap;
    border-bottom: solid 0.125rem rgb(0, 0, 0);
    font-family: Vipnagorgialla, sans-serif;
    font-weight: 600;
}

.tab-taskbar div{
    margin: 0.188rem 0.625rem 0.188rem 0.625rem;
}

.tab-bar{
    height: 0.438rem;
    width: 100%;
    background-image: linear-gradient(#E5E5E5, #9F9F9F);
    border-radius: 312.5rem;
}

.tab-button{
    height: 0.625rem;
    width: 1.25rem;
    background-color: #d5d5d5;
    border-radius: 0.188rem;
    box-shadow: 0 0 0.063rem 0.063rem rgba(0, 0, 0, 0.2);
    outline: solid 0.063rem black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-button span{
    position: relative;
    top: -0.03125em;
}

.tab-button:hover{
    background-color: rgb(159, 159, 159);
}

.tab-content{
    height: 26.875rem;
    margin: 0.625rem 0rem 0.625rem 0rem;
}

.tab-content .text-content{
    background-color: white;
    border-radius: 0.313rem;
    display: block;
    overflow: auto;
    height: 100%;
    width: 39rem;
    overflow-y: auto;
    outline: solid 0.188rem black;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.125rem;    
    padding-left: 0.625rem; 
    padding-right: 0.625rem;       
    box-sizing: border-box;                               
}

#image-viewer .text-content{
    background-color: rgb(77, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio-folder .text-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

#image-viewer .text-content img{
    max-width: 37.75rem;
    max-height: 25.625rem;
}

.tab-content .text-content p, .tab-content .text-content h1, .tab-content .text-content h2, .tab-content .text-content h3{
    font-family: 'Bahnschrift', sans-serif;
}

.tab-content .text-content p{
    font-size: 1.125rem;
    margin-top: 0.438rem;
    margin-bottom: 0.438rem;
}

.tab-content .text-content .image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.438rem;
    margin-bottom: 0.438rem;
}

.tab-content .text-content .image-container p{
    font-size: 0.875rem;
}

.tab-content .text-content .image-container img{
    max-width: 18.75rem;
    max-height: 18.75rem;
    cursor: pointer;
}

.tab-content .text-content h1{
    font-size: 1.563rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.tab-content .text-content h2{
    font-size: 1.375rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

#send-message-window{
    width: 22.125rem;
}

#send-message-window .tab-content{
    margin: 0.625rem 0rem 0 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 28.188rem;
}

#send-message-window .tab-content .tab-content-title{
    margin-right: auto;
    margin-bottom: 0.625rem;
}

#send-message-window .tab-content .text-content{
    height: 34.375rem;
    width: 20.313rem;
}

#send-message-window h1{
    font-size: 1.125rem;
}

#send-message-window .text-content p{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.125rem;
    padding: 0.25rem;
    box-sizing: border-box;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

#send-message-window .text-content .available-user:hover{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    cursor: pointer;
}

.unavailable-user-container{
    display: grid;
}

.unavailable-information, .unavailable-user{
    grid-column: 1;
    grid-row: 1;
}

.unavailable-information{
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 0.313rem;
}

.unavailable-information span{
    background-color: rgb(255, 255, 255);
    padding: 0.188rem;
    box-sizing: border-box;
    border-radius: 0.188rem;
}

.unavailable-user:hover~.unavailable-information{
    display: block;
    cursor: not-allowed;
}

.unavailable-information:hover{
    display: block;
    cursor: not-allowed;
}

.user-selected, .user-selected:hover{
    background-color: rgba(0, 0, 0, 0.4) !important;
    border-radius: 0.25rem !important;
}

#send-message-window .action-button{
    margin-top: 0.625rem;
}

.friend-status{
    font-style: italic;
}

.friend-online{
    color: rgb(0, 200, 0);
}

.friend-offline{
    color: rgb(231, 0, 0);
}

#private-message-window{
    width: 50rem;
}

#private-message-window .tab-content{
    height: 28.188rem;
    height: calc(100% - 2.75rem);
    width: 39.625rem;
    width: calc(100% - 1.25rem);
    display: flex;
    flex-direction: row;
}

#private-message-window .tab-content #chatroom-messaging{
    width: 70%;
    height: 100%;
    padding: 0 0.625rem 0 0rem;
    box-sizing: border-box;
}

#private-message-window .tab-content #chatroom-messaging h2{
    margin-bottom: 0.625rem;
}

#private-message-window .tab-content #chatroom-messaging #chatroom-box{
    height: 12.5rem;
    background-color: white;
    outline: solid 0.188rem black;
    border-radius: 0.313rem;
    padding: 0.313rem;
    
}

#private-message-window .tab-content #chatroom-messaging #chatroom-box p{
    font-family: 'Bahnschrift', sans-serif;
    font-size: 1.125rem;
}

#private-message-window .tab-content #chatroom-messaging form div{
    margin: 0.625rem 0rem 0.625rem 0rem;
    display: flex;
    justify-content: space-between;
}

#private-message-window .tab-content #chatroom-messaging form div input, #private-message-window .tab-content #chatroom-messaging form div textarea{
    width: 25rem;
    height: 1.25rem;
    font-family: 'Bahnschrift', sans-serif;
    padding: 0.313rem;
    font-size: 1.125rem;
    resize: none;
    box-sizing: border-box;
    outline: 0.188rem solid black;
    border-radius: 0.188rem;
    border: none;
}

#private-message-window .tab-content #chatroom-messaging form div #textarea{
    height: 6.25rem;
}

#private-message-window .tab-content #chatroom-messaging form button{
    position: relative;
    right: -23.5rem;
    font-size: 0.875rem;
}

#private-message-window .tab-content #chatroom-info{
    width: 30%;
    height: 100%;
    padding: 0 0rem 0 0.625rem;
}

#private-message-window .tab-content #chatroom-info h2{
    margin-bottom: 0.625rem;
    margin-top: 0.063rem;
}

#private-message-window .tab-content #chatroom-info div{
    background-color: white;
    outline: 0.125rem black solid;
    border-radius: 0.313rem;
    padding: 0.313rem;
}

#private-message-window .tab-content #chatroom-info div p{
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
}

.tab-content-shadow{
    position: absolute;
    background-color: black;
    height: 28.7875rem;
    min-width: 30.625rem;
    max-width: 100%;
    z-index: -1;
    border-radius: 0.313rem;
    margin: 0.125rem;
}

.tab-footer{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    border-top: solid 0.125rem rgb(0, 0, 0);
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.tab-footer .directory{
    grid-column-start: 2;
    margin-right: 0.625rem;
    background-image: linear-gradient(#4a4947, #000);
    color: white;
    padding-left: 0.625rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    border-radius: 0.313rem;
    font-size: 0.75rem;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.splash-screen-container{
    display: none;
}

.overlay-bg{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;
}

.splash-screen{
    z-index: 100000000000000000;
}

.splash-screen-content{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 0.938rem;
}

.splash-screen .text-content{
    width: 31.25rem;
    height: 12.5rem;
    background-color: white;
    border-radius: 0.625rem;
    margin: 0.625rem;
    outline: 0.313rem black solid;
}
#credits-window .text-content{
	display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 2.5rem;
    padding-bottom: 0.625rem;
    box-sizing: border-box;
}

#credits-window .text-content div{
    text-align: center;
}

#credits-window .text-content p{
    margin: 0.625rem;
    font-size: 1.063rem;
}

#credits-window .text-content .splash-screen-close, #credits-window .text-content #creator-link{
	text-decoration: underline;
    cursor: pointer;
}

.tab-active{
    display: flex;
}


#small-screen{
    display: none;
    font-family: 'Bahnschrift', sans-serif;
}

@media screen and (max-width: 37.5rem) {
    #desktop-screen{
        display: none;
    }

    body{
        background-image: none;
        background-color: #000;
        color: white;
    }
    
    #small-screen{
        padding-top: 3.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
        font-family: 'Bahnschrift', sans-serif;
        text-align: center;
    }

    #small-screen form div{
        margin: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #small-screen form button{
        font-family: 'Bahnschrift';
    }

    #small-screen h1{
        font-size: 1.875rem;
    }

    #small-screen h2{
        font-size: 1.563rem;
    }

    #small-screen p{
        font-size: 1.25rem;
    }
}
